.search{
    margin: 1rem auto 0rem auto;
    min-width: 15rem;
    width: auto;
    align-self: center;
    height: 2rem;
    color: black;
    border-radius: 1rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    outline:none;
}
.search:focus{
    box-shadow: 0rem 0rem 0.4rem 0.4rem rgb(131, 131, 255);
}
.searchBox{
    margin: 1rem auto 0rem 28%;
}
.searchBtn{
    margin: 0.7rem ;
    position: absolute;
    max-width: 3rem;
    max-height: 3rem;
    color: white;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}
.searchBtn:hover{
    transform: scale(1.1);
}
.searchBtn>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}